@model View.ViewModel.ProductIndex

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Kích cỡ
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promotion.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Width)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
